:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

button {
  padding: 8px 16px;
  font-size: 16px;
  background: var(--color-scheme-text-color);
  color: var(--color-scheme-background);
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
}

p {
  text-align: center;
}

h1 {
  margin: 0;
}
