<h1>Müll ♻️</h1>

<ng-container [ngSwitch]="camera.state$ | async">
  <ng-container *ngSwitchCase="CameraState.Stale">
    <div>
      <p>How to recycle garbage in 🇩🇪?</p>
      <p>Use your camera to find out</p>
    </div>

    <button (click)="camera.requestAccess()">
      Open camera
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="CameraState.AccessDenied">
    <p [@fadeInOut]>Cannot access camera...😞</p>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <video
      #video
      autoplay
      height="240"
      id="videoElement"
      playsinline
      [srcObject]="camera.mediaStream$ | async"
      width="320"
    ></video>

    <button (click)="detect()">Detect</button>

    <p *ngIf="prediction$ | async as prediction" [@fadeInOut]>
      {{ prediction }}
    </p>
  </ng-container>
</ng-container>
